<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/styles.css">

</head>
<body>
    {% include 'navbar.html' %}
    <main>
        {% include 'welcome.html' %}
        {% include 'python_interpreter.html'%}
        {% include 'projects.html' %}
    </main>
    {% include 'footer.html' %}
</body>
</html>
