{% extends "base.html" %}

{% block title %}Home - {{ SITENAME }}{% endblock %}

{% block content %}

<div class="intro-section">
  <h1>¡Hola Pythonista!</h1>
  <div class="intro-content">
    <img src="{{ SITEURL }}/img/pyschool_logo.png" alt="PySchool logo">
    <p>
      Este espacio ha sido creado con el objetivo de motivar a los estudiantes a conocer y aprender el lenguaje de programación Python. <br>
      PySchool es una iniciativa de la organización Python Chile y DUOC. <br>
      Nuestro objetivo es proporcionar a la comunidad los recursos necesarios para aprender y mejorar sus habilidades en Python.
    </p>

  </div>
  <p>
      Este espacio ha sido creado con el objetivo de motivar a los estudiantes a conocer y aprender el lenguaje de programación Python. Dentro de este repositorio, encontrarás ejemplos autocontenidos que te ayudarán a entender y practicar los conceptos fundamentales de Python.
    </p>
</div>



{% endblock %}
