{% extends "base.html" %}

{% block title %}Home - {{ SITENAME }}{% endblock %}

{% block content %}

<div class="main-msg">
    <h1 class="main-title-msg">¡Hola Pythonista!</h1>
    <div class="main-body-msg">
        <p>¿Tienes un proyecto personal, una herramienta que descubriste, una librería que te llamó la atención o simplemente algo que quieras compartir? ¡Este es tu espacio!</p>
        <p>Temas como ciencia de datos, desarrollo web, automatización, videojuegos, inteligencia artificial, seguridad informática o cualquier otro que tenga relación con Python son totalmente bienvenidos 🚀</p>
    </div>
</div>


{% endblock %}
