<nav>
    <div class="nav-content">
        <a href="/" class="logo-container">
            <img src="{{ SITEURL }}/img/pyschool_logo.png" class="nav-logo-img"/>
            <div class="logo">Pyschool</div>
        </a>
        <ul class="nav-links">
            <li><a href="#iniciativa">Iniciativa</a></li>
            <li><a href="#prueba-python">Prueba Python</a></li>
            <li><a href="#recursos">Proyectos</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </div>
</nav>