<section id="recursos" class="section">
    <div class="container">
        <h2>Recursos de eventos anteriores</h2>
        <div>
            <p>
                En esta sección se encuentran los enlaces directos a los
                repositorios utilizados en eversiones anterioes.
            </p>
        </div>
        <ul class="project-links">
            <li>
                <a
                    href="https://github.com/python-chile/escape-room-pyschool"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    2da versión: Escape Room Pyschool 2025
                </a>
            </li>
            <li>
                <a
                    href="https://github.com/python-chile/PySchool2024"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    1ra versión: PySchool 2024
                </a>
            </li>
        </ul>
    </div>
</section>