<section id="recursos" class="section">
    <div class="container">
        <h1>Recursos de eventos anteriores</h1>
        <ul class="project-links">
            <li>
                <a href="https://python-chile.github.io/escape-room/" target="_blank" rel="noopener noreferrer">
                    Escape Room - 2026
                </a>
            </li>
            <li>
                <a href="https://python-chile.github.io/escape-room-pyschool/" target="_blank"
                    rel="noopener noreferrer">
                    Escape Room - 2025
                </a>
            </li>
            <li>
                <a href="https://github.com/python-chile/PySchool2024" target="_blank" rel="noopener noreferrer">
                    PySchool - 2024
                </a>
            </li>
        </ul>
    </div>
</section>